<h3>Customers</h3>
<div>All the customers will be displayed here</div>
<br>
<br>
<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae ratione sunt saepe veritatis ad maiores, nemo vel quo, temporibus ullam non voluptatum. Delectus, voluptatem, error earum aliquam nemo quam iusto!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam temporibus consectetur iste quisquam, minus nihil voluptatem quibusdam dolores earum quis fugiat esse ullam laudantium itaque, quos odit tenetur, molestiae. Tenetur.</div>
<br>
<br>
<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae ratione sunt saepe veritatis ad maiores, nemo vel quo, temporibus ullam non voluptatum. Delectus, voluptatem, error earum aliquam nemo quam iusto!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam temporibus consectetur iste quisquam, minus nihil voluptatem quibusdam dolores earum quis fugiat esse ullam laudantium itaque, quos odit tenetur, molestiae. Tenetur.</div>
